<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">
        <h1>Reflection on the Month of June</h1>
      </div>
      <div class="date">
        <span><img src="assets/date-icon.png" alt="" /></span>
        <h1>Date</h1>
        <p><u>22/06/2022</u></p>
      </div>
      <div class="folder">
        <span><img src="assets/folder-nonactive-icon.png" alt="" /></span>
        <h1>Folder</h1>
        <p><u>Personal</u></p>
      </div>
      <div class="style-bar">
        <div class="word-styling">
          <select name="word-styling" id="word-styling">
            <option value="p-1">Paragraph 1</option>
            <option value="p-2">Paragraph 2</option>
            <option value="p-3">Paragraph 3</option>
            <option value="p-4">Paragraph 4</option>
            <option value="p-5">Paragraph 5</option>
          </select>
        </div>
        <div class="font-size">
          <select name="font-size" id="font-size">
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="typography">
          <img src="assets/bold-icon.png" alt="" />
          <img src="assets/italic-icon.png" alt="" />
          <img src="assets/underline-icon.png" alt="" />
        </div>
        <div class="insert">
          <img src="assets/picture-icon.png" alt="" />
          <img src="assets/link-icon.png" alt="" />
        </div>
        <div class="table">
          <img src="assets/table-icon.png" alt="" />
        </div>
      </div>
      <textarea name="" id=""></textarea>
    </div>
  </body>
</html>
