html {
  height: 100%;
  background-color: #181818;
}
.wrapper {
  width: 21.88rem;
  height: 59.5rem;
  background-color: #181818;
}
/* Title */
.title {
  padding: 1.88rem 1.25rem;
  color: white;
}
.title > h1 {
  font-size: 1.38rem;
  font-weight: 600;
}

/* Content */
.list-content {
  overflow-y: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.content {
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 0.19rem;
  padding: 1.25rem;
}
.content-title {
  /* margin: 1.25rem 1.25rem 0.63rem 1.25rem; */
  color: white;
  width: 16.88rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.63rem;
}
.thumbnail {
  display: flex;
  gap: 0.63rem;
}
.date {
  color: rgba(255, 255, 255, 0.4);
}
.text {
  color: rgba(255, 255, 255, 0.6);
}
::-webkit-scrollbar {
  width: 0.19rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
