<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="title"><h1>Personal</h1></div>
      <div class="list-content">
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
        <div class="content">
          <div class="content-title">
            <h1>My Goals for the Next Year Last</h1>
          </div>
          <div class="thumbnail">
            <p class="date">31/12/2022</p>
            <p class="text">As the year comes to a ...</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
